<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Disabler</string>
	<key>CFBundleGetInfoString</key>
	<string>Kernel Extension Disabler 1.0.1, Copyright © 2008 by Kabyl</string>
	<key>CFBundleIdentifier</key>
	<string>net.osrom.kext.Disabler</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Kernel Extension Disabler</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>IntelCPUPMDisabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.osrom.kext.Disabler</string>
			<key>IOClass</key>
			<string>Disabler</string>
			<key>IOMatchCategory</key>
			<string>AppleIntelCPUPowerManagement</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>ApplePolicyControlDisabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.osrom.kext.Disabler</string>
			<key>IOClass</key>
			<string>Disabler</string>
			<key>IOMatchCategory</key>
			<string>ApplePolicyControl</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AppleIntelFramebufferCapriDisabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.osrom.kext.Disabler</string>
			<key>IOClass</key>
			<string>Disabler</string>
			<key>IOMatchCategory</key>
			<string>AppleIntelFramebufferCapri</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AppleIntelHD3000GraphicsDisabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.osrom.kext.Disabler</string>
			<key>IOClass</key>
			<string>Disabler</string>
			<key>IOMatchCategory</key>
			<string>AppleIntelHD3000Graphics</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AppleIntelHD4000GraphicsDisabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.osrom.kext.Disabler</string>
			<key>IOClass</key>
			<string>Disabler</string>
			<key>IOMatchCategory</key>
			<string>AppleIntelHD4000Graphics</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AppleIntelHDGraphicsDisabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.osrom.kext.Disabler</string>
			<key>IOClass</key>
			<string>Disabler</string>
			<key>IOMatchCategory</key>
			<string>AppleIntelHDGraphics</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AppleIntelHDGraphicsFBDisabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.osrom.kext.Disabler</string>
			<key>IOClass</key>
			<string>Disabler</string>
			<key>IOMatchCategory</key>
			<string>AppleIntelHDGraphicsFB</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AppleIntelSNBGraphicsFBDisabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.osrom.kext.Disabler</string>
			<key>IOClass</key>
			<string>Disabler</string>
			<key>IOMatchCategory</key>
			<string>AppleIntelSNBGraphicsFB</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AMD2400ControllerDisabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.osrom.kext.Disabler</string>
			<key>IOClass</key>
			<string>Disabler</string>
			<key>IOMatchCategory</key>
			<string>AMD2400Controller</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AMD2600ControllerDisabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.osrom.kext.Disabler</string>
			<key>IOClass</key>
			<string>Disabler</string>
			<key>IOMatchCategory</key>
			<string>AMD2600Controller</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AMD3800ControllerDisabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.osrom.kext.Disabler</string>
			<key>IOClass</key>
			<string>Disabler</string>
			<key>IOMatchCategory</key>
			<string>AMD3800Controller</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AMD4600ControllerDisabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.osrom.kext.Disabler</string>
			<key>IOClass</key>
			<string>Disabler</string>
			<key>IOMatchCategory</key>
			<string>AMD4600Controller</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AMD4800ControllerDisabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.osrom.kext.Disabler</string>
			<key>IOClass</key>
			<string>Disabler</string>
			<key>IOMatchCategory</key>
			<string>AMD4800Controller</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AMD5000ControllerDisabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.osrom.kext.Disabler</string>
			<key>IOClass</key>
			<string>Disabler</string>
			<key>IOMatchCategory</key>
			<string>AMD5000Controller</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AMD6000ControllerDisabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.osrom.kext.Disabler</string>
			<key>IOClass</key>
			<string>Disabler</string>
			<key>IOMatchCategory</key>
			<string>AMD6000Controller</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AMDFramebufferDisabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.osrom.kext.Disabler</string>
			<key>IOClass</key>
			<string>Disabler</string>
			<key>IOMatchCategory</key>
			<string>AMDFramebuffer</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>ATIRadeonX2000Disabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.osrom.kext.Disabler</string>
			<key>IOClass</key>
			<string>Disabler</string>
			<key>IOMatchCategory</key>
			<string>ATIRadeonX2000</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AMDSupportDisabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.osrom.kext.Disabler</string>
			<key>IOClass</key>
			<string>Disabler</string>
			<key>IOMatchCategory</key>
			<string>AMDSupport</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>GeForceDisabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.osrom.kext.Disabler</string>
			<key>IOClass</key>
			<string>Disabler</string>
			<key>IOMatchCategory</key>
			<string>GeForce</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>NVDAGF100HalDisabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.osrom.kext.Disabler</string>
			<key>IOClass</key>
			<string>Disabler</string>
			<key>IOMatchCategory</key>
			<string>NVDAGF100Hal</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>NVDAGK100HalDisabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.osrom.kext.Disabler</string>
			<key>IOClass</key>
			<string>Disabler</string>
			<key>IOMatchCategory</key>
			<string>NVDAGK100Hal</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>NVDANV50HalDisabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.osrom.kext.Disabler</string>
			<key>IOClass</key>
			<string>Disabler</string>
			<key>IOMatchCategory</key>
			<string>NVDANV50Hal</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>NVDAResmanDisabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.osrom.kext.Disabler</string>
			<key>IOClass</key>
			<string>Disabler</string>
			<key>IOMatchCategory</key>
			<string>NVDAResman</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
